<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
    <% if (profile.favoriteMemeUrls.length){ %>
      <ul>
       <% profile.favoriteMemeUrls.forEach( fav => { %>
        <li>
          <img 
          class="favorite-Meme"
          src="<%= fav %>" 
          alt="favorite-Meme"
        >
        </li>
      </ul>
      <% }) %>
   <%  } %>
    </div>
    <% } %>
</main>
<%- include('../partials/footer') %>