<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome <%= user ? user.profile.name : "to Meme-Masters!" %></h1>
  <p><h2> Login to Make Your Meme!</h2></p>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>


<%- include('./partials/footer') %>
