<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
 <form action="/allMemes" method="GET">
    <button> 
      Click Here To Pick a Meme!
    </button>
  </form>
</main>

<%- include('./partials/footer') %>
