<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div>
      <h1 id="allMemesTitle">Welcome! Please Choose Your Favorite Meme</h1>
    </div>
      <div class="memeContainer">
        <form type="text" name="url" type="text" name="name" method="GET">
          <% for(let i=0; i < results.length; i++){ %>
            <a href="/allMemes/show/<%= results[i].id%>">
              <img  id="allMemesImg" width="175" height="175" src="<%= results[i].url %>">
            </a>
            <% } %>
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>



    