<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="memeContainer">
        <form type="text" name="url" type="text" name="name">
          <% for(let i=0; i < 20; i++){ %>
            <a href="/allMemes/show/<%= results[i].id%>">
              <img width="175" height="175" src="<%= results[i].url %>">
            </a>
            <% } %>
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>