<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="memeContainer">
        <% for(let i=0; i < 20; i++){ %>
          <div class="memePics">
            <a href="/allMemes/show/<%= results[i].id%>">
              <img width="175" height="175" src="<%= results[i].url %>">
            </a>
          </div>
          <% } %>
      </div>
    </main>
    
    <%- include('../partials/footer') %>