<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="memeCaption">
        <div class="meme">
          <% for(let i=0; i < results.length; i++){ %>
            <% if (results[i].id===memeId) { %>
              <img width="250" height="250" src="<%= results[i].url %>">
              <% } %>
        </div>
        <% } %>
          <div>
            <% if (user){ %>
              <form action="/allMemes/show/<%= memeId %>" method="POST">
                <textarea type="text" name="content" placeholder="Add Your Own Caption Here:">
                </textarea> 
                <button type="submit"> Add Caption </button><br>
                <% if (captions.length) { %>
                  <% captions.forEach(c=> { %>
                    <img src="<%= c.avatar %>">
                    <ul>
                      <li>
                        <%= c.content %>
                      </li>
                    </ul>
          </div>
          <% }) %>
            <% } else { %>
              <img src="<%= user %>">
              <h1> No Captions Yet </h1>
              </form>
              <% } %>
                <% } %>
    </main>
    <%- include('../partials/footer') %>