<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="memeCaption">
        <div class="meme">
          <form action="/profiles/<%= memeId %>" type="text" method="POST">
            <% for(let i=0; i < results.length; i++){ %>
              <% if (results[i].id===memeId) { %>
                <img width="250" height="250" src="<%= results[i].url %>">
                <button type="submit">Add to Profile </button>
          </form>
          <% } %>
        </div>
        <% } %>
          <div>
            <% if (user){ %>
              <form action="/allMemes/show/<%= memeId %>" method="POST">
                <textarea type="text" name="content">
                </textarea>
                <button type="submit"> Add Caption </button><br>
                <% if (captions.length) { %>
              </form>
              <% captions.forEach(c=> { %>
                <% if (user._id==c.owner.toString()) { %>
                  <form action="/allMemes/memes/<%= memeId %>/captions/<%= c._id %>?_method=DELETE" method="POST">
                    <button id="deleteCapbtn" type="submit"> Delete My Caption </button>
                  </form>
                  <%}%>
                    <img src="<%= c.avatar %>">
                    <ul>
                      <li>
                        <%= c.content %>
                      </li>
                    </ul>
          </div>
          <% }) %>
            <% } else { %>
              <img src="<%= user.avatar %>">
              <h2> No Captions Yet </h2>
              </form>
              <% } %>
                <% } %>

    </main>
    <%- include('../partials/footer') %>