<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <div class="memeCaption">
        <div class="meme">
          <% for(let i=0; i < results.length; i++){ %>
            <% if (results[i].id===memeId) { %>
              <img width="250" height="250" src="<%= results[i].url %>">
              <% } %>
        </div>
        <% } %>
          <div>
            <% if (user){ %>
              <form action="/allMemes/show/<%= memeId %>" method="POST">
                <% if (captions.length) { %>
                  <% captions.forEach(meme=> { %>
                    <img src="<%= user %>">
                    <ul>
                      <li>
                        <%= meme.content %>
                      </li>
                    </ul>
          </div>
          <% }) %>
            <% } else { %>
              <h1> No Captions Yet </h1>
              <img src="<%= user %>">
              <textarea type="text" name="content" placeholder="Add Your Own Caption Here:">
          </textarea>
              <button type="submit"> Add Caption </button>
              </form>

              <% } %>
                <% } %>
    </main>
    <%- include('../partials/footer') %>